<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COVID-19 Distribution</title>
    <meta name="description" content="COVID-19 worldwide distrubution charts, ranges and country details." />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/css/bootstrap-select.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Style", required: false)
    <link rel="icon" href="/img/cropped-Icon_TransparentBg_1024x1024_72dpi-1-32x32.png" sizes="32x32" />
    <link rel="icon" href="/img/cropped-Icon_TransparentBg_1024x1024_72dpi-1-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="/img/cropped-Icon_TransparentBg_1024x1024_72dpi-1-180x180.png" />
    <meta name="msapplication-TileImage" content="/img/cropped-Icon_TransparentBg_1024x1024_72dpi-1-270x270.png" />
    <meta property="og:title" content="COVID-19 Distribution" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://covidist.com" />
    <meta property="og:description" content="COVID-19 worldwide distrubution charts, ranges and country details." />
    <meta property="og:image" content="https://covidist.com/img/covidist.png" />
    <meta property="og:site_name" content="COVID-19 Distribution" />
    <meta property="og:locale" content="en_US" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div>
                <a class="navbar-brand" href="/" style="display:flex">
                    <img src="~/img/chaos_logo.png" style="max-height:42px" />
                    <span style="line-height:1; display:block;">COVID-19<br />Distribution</span>
                </a>
            </div>
        </nav>
    </header>

    @RenderBody()



    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/js/bootstrap-select.min.js"></script>

    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @RenderSection("Scripts", required: false)
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149746338-3"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-149746338-3');</script>
</body>
</html>
