@{
//    List<string> countries = ViewBag.countries;
}

<div class="chart_options">
        <div class="form_element">
            <label>Country</label>
            <select id="bnFilterCountry" data-live-search="true" data-width="100%">
                <optgroup label="World" data-max-options="1">
                    <option value="World" selected="selected">All Countries</option>
                </optgroup>
                <optgroup label="Countries" data-max-options="2" id="sel-countries">
                   
                </optgroup>
            </select>
        </div>
        <div class="form_element">
            <label>Report Type</label>
            <select id="bnFilterType" data-width="100%">
                <optgroup label="Report Type">
                    <option value="c">Cummulative</option>
                    <option value="d">Cases by Day</option>
                    <option value="a">Active Cases</option>
                    <option value="e">Infection Estimate</option>
                </optgroup>
            </select>
        </div>

        <div class="form_element">
            <label>Transmissibility</label>
            <select id="bnTransmissibility" data-width="100%">
                <optgroup label="Transmissibility">
                    @for (var i = 1.0; i <= 10; i += 0.5)
                    {
                        <option>@i.ToString("0.0")</option>
                    }
                </optgroup>
            </select>
        </div>
        <div class="form_element">
            <label>Data to Display</label>
            <select id="bnFilterLine" data-width="100%">
                <optgroup label="Data to Display">
                    <option value="infected">Total Infected</option>
                    <option value="pinfected">% Infected</option>

                    <option value="lost">Total Lost</option>
                    <option value="plost">% Lost</option>

                    <option value="active">Active Cases</option>
                    <option value="million">Lost per Million Pop.</option>
                </optgroup>
            </select>
        </div>
        <div class="form_element" data-toggle="tooltip" data-placement="bottom" title="Date Type">
            <label>Date Type</label>
            <select id="bnFilterDate" data-width="100%">
                <optgroup label="Date Type">
                    <option value="date">Calendar</option>
                    <option value="pandemic">Pandemic</option>
                </optgroup>
            </select>
        </div>
        <div class="form_element">
            <label>Case Adjust</label>
            <select id="bnFilterAdjust" data-width="100%">
                <optgroup label="Case Adjust">
                    <option>1</option>
                    <option>10</option>
                    <option>50</option>
                    <option selected>100</option>
                    <option>500</option>
                    <option>1000</option>
                </optgroup>
            </select>
        </div>
        <div class="form_element">
            <label>Scale Type</label>
            <select id="bnFilterScale" data-width="100%">
                <optgroup label="Scale Type">
                    <option value="linear">Linear</option>
                    <option value="logarithmic">Logarithmic</option>
                </optgroup>
            </select>
        </div>
        <div class="form_element">
            <label>Legend Items</label>
            <div class="btn-group w-100" id="bnGroupLabel">
                <button id="bnHideAll" class="btn btn-light" style="max-width:50%">Deselect</button>
                <button id="bnShowAll" class="btn btn-light">Select</button>
            </div>
        </div>
        <div class="form_element">
            <label>Legend Visibility</label>
            <button id="bnLegend" class="btn btn-info w-100">Toggle</button>
        </div>
        
    </div>
<div style="position:absolute; top:70px; left:200px; right:0; bottom:0; overflow:hidden">
    <div id="container" style="width: 100%; height: 100%; background: #f0f0f0; overflow: hidden"></div>
</div>

<div id="lyr-loading">
    <div>
        Loading...
    </div>
</div>


@section Scripts {
    <script src="~/lib/hc/highcharts.js"></script>
    <script src="~/lib/hc/highcharts-more.js"></script>
    <script src="~/lib/hc/modules/exporting.js"></script>
    <script src="~/js/desktop.js"></script>
}
